html {
    background: #edeff1;
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(238, 240, 242);
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 200;
}

hr {
    border-top: 2px solid #00A3AD;
}

/* restyle radio items */
.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
  
.radio-group .btn-group > .form-check:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.form-check-inline {
    margin-right: 0;
}

#navbar-brand-container {
    margin-left: 0rem;
    margin-right: 0rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #82dee3
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #94cdd0;
    background-color: rgba(0,0,0,0);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    background: rgb(0,0,0,0);
    color: #82dee3;
    border: solid #82dee3 .12rem;
}


.nav-item {
    margin: .6rem;
    margin-left: .1rem;
    margin-right: .1rem;
}

.nav-pills .nav-link {
    border-radius: 2rem;
    padding: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.navbar-nav {
    align-items: center;
}

#open-offcanvas {
    outline: none;
    background: rgb(105, 167,198);
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-weight: 500;
}

#offcanvas {
    background-color: rgba(238, 241, 247, .9);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.offcanvas-backdrop {
    z-index: 1;
    background-color: rgba(0,0,0,0);
}

.offcanvas-header {
    visibility: hidden;
    height: 0;
    padding: .5rem;
}

.page-link {
    background-color: rgba(0,0,0,0);
    color: #82dee3;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
}

.page-link:visited {
    background-color: rgba(0,0,0,0);
    color: #82dee3;
}

.page-link:hover {
    background-color: rgba(0,0,0,0);
    color: #5e9da0;
}

.page-link:focus {
    background-color: rgba(0,0,0,0);
    background-color: #76a1b6;
}

.page-link:active {
    background-color: rgba(0,0,0,0);
    color: white;
}

.title-container {
    width: 100%;
    text-align: left;
    background: rgb(0, 85, 129);
    color: whitesmoke;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
}

.inputs-container {
    background: #82dee3;
    padding: 1rem;
    border-radius: 1rem;
}

#hero-div {
    height: 100vh;
    background: rgb(29,69,88);
    background: linear-gradient(180deg, rgba(29,69,88,1) 0%, rgba(29,69,88,1) 7%, rgba(36,74,93,1) 15%, rgba(42,79,97,1) 27%, rgba(61,95,112,1) 42%, rgba(82,112,127,1) 56%, rgba(117,141,153,1) 66%, rgba(159,176,184,1) 75%, rgba(221,226,229,1) 88%, rgba(238,240,242,1) 100%); 
    justify-content: center;
    flex-wrap: wrap;
}

#hero-header {
    flex: 0 0 100%;
    text-align: center;
    padding-top: 1.8rem;
    margin-bottom: 0;
}

#hero-text-div {
    flex: 0 0 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.emphasis-text {
    font-weight: 500;
    color: #88ebef;
}

#hero-text{
    flex: 0 0 95%;
    margin-bottom: 0;
    font-size: .95rem;

}

#hero-buttons-div {
    display: flex;
    align-items: center;
    padding-bottom: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%
}


.hero-button, .button {
    border-radius: .3rem;
    border-style: solid;
    border-color: rgb(0, 85, 129);
    background-color: #005581;
    color: #ffffff;
    padding: .5rem;
}

.hero-button {
    flex: 0 0 13.5rem;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .4rem;
    box-shadow: rgba(0, 0, 0, .5) 0px 5px 15px;
} 

#hero-secondary-button {
    background-color: rgb(78, 154, 192);
    border-color: #4e9ac0;
}

.hero-button:hover {
    color: #82dee3;
}

.hero-header-breaks{
    display: inline;
}


.accordion-button:not(.collapsed) {
    background-color:#e4e4e4;
}

#name-container {
    background: #6c9fb9;
    display: grid;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}


/* #name-search-input {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
} */

#initial-wage-dropdown {
    grid-column: 1 / span 2;
    grid-row: 2;
}

#initial-wage-input {
    grid-column: 3;
    grid-row: 2;
}

#job-label {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

#name-label {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-self: end;
}

#rate-name-dropdown {
    grid-column: 1;
    grid-row: 2;
}

#cola-label {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

#rate-cola-dropdown {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.dropdown-button {
    width: 100%;
    margin-top: 5px;
}

.tabs-group {
    padding-top: 20px;
}

.app-div {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#dashboard {
    scroll-margin-top: 5.5rem;
}

.body-div {
    padding: 0.5rem;
    flex: 1;
}


.footer-div {
    width: 100%;
    padding: 0.8rem;
    background-color:rgb(29, 69, 88)
}

.data-table-div {
    margin: auto;
    padding: 10px;
}

.budget-label {
    font-size: 20px;
    font-weight: bold;
}

.budget-text {
    font-size: 20px;
}

.budget-text-value {
    font-size: 20px;
    font-style: italic;
}

.budget-progress-bar {
    height: 20px;
}

.budget-tooltip {
    font-size: 18px;
}

.checklist {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}


#year-range-label {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

#year-range-slider .rc-slider-dot {
    visibility: hidden;
}

#year-range-slider .rc-slider-handle {
    border-color: #39619d;
}

#year-range-slider .rc-slider-track {
    background-color: #39619d;
}

#year-range-slider .rc-slider-track {
    background-color: #39619d;
}

#year-range-slider .rc-slider-rail {
    background-color: #dddddd;
}

.rc-slider-mark-text {
    color: #1b232f;
}

.rc-slider-mark {
    font-size: 0.85rem;
    writing-mode: vertical-lr;
}

#select-compensation-dropdown {
    flex: 0 0 12rem;
    padding: 0;
    padding-right: 10rem;
}

#select-compensation-dropdown .Select-control.Select-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 0;
    border-bottom-left-radius: .25rem;
    border-left-style: solid;
    width: 12rem;
}

#name-added-dropdown, #rate-job-dropdown {
    flex: 1 0 100%;
    padding: 0;
}

#name-added-dropdown .Select-control.Select-control, #rate-job-dropdown .Select-control.Select-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: .25rem;
    border-left-style: solid;
}

#random-name-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #cccccc 1px solid;
    background: #ecf0f1;
    border-top-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: .25rem;
    flex: 0 0 content;
    padding: .25rem .75rem;
}

#random-name-button {
    border-top-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
}

#add-employees-label-container, #add-positions-label-container, #compensation-type-label-container, #year-range-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #cccccc 1px solid;
    background: #ecf0f1;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-style: none;
    flex: 0 0 content;
    padding: .25rem .75rem;
}

#add-employees-body, #year-range-slider-container {
    border: #cccccc 1px solid;
    background-color: white;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-left-style: solid;
    border-bottom-left-radius: .25rem;
    flex: 1 0 100%;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#name-search-input {
    flex: 0 1 25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#name-search-button {
    flex: 0 0 auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#name-add-button {
    flex: 0 0 auto;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* #name-added-dropdown {
    flex: 1 0 100%;
} */

#select-compensation-dropdown .Select.Select, #rate-job-dropdown .Select.Select, #name-added-dropdown .Select.Select {
    display: flex;
    height: 100%;
}

#select-compensation-dropdown .Select .Select-control, #rate-job-dropdown .Select .Select-control, #name-added-dropdown .Select .Select-control {
    height:100%;
}

#rate-job-dropdown .Select .Select-control .Select-multi-value-wrapper {
        padding: .2rem;
        padding-bottom: .3rem;
}

/* #name-added-dropdown .Select-control.Select-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    display: flex;
    align-items: center;
} */

#rate-job-dropdown .Select .Select-control .Select-multi-value-wrapper, #name-added-dropdown .Select-control.Select-control .Select-multi-value-wrapper {
    flex: 1 1 0;
}

#rate-job-dropdown .Select .Select-control .Select-multi-value-wrapper .Select-placeholder, #name-added-dropdown .Select-control.Select-control .Select-multi-value-wrapper .Select-placeholder{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media (min-width: 414px) {
    #hero-text{
        flex: 0 0 90%;
        font-size: 1rem;
    }

    .hero-button {
        flex: 0 0 15rem;
        padding: .5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #compensation-type-label-container {
        flex: 0 0 content;
        border-top-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .25rem;
        border-bottom-style: solid;        
    }
    #select-compensation-dropdown {
        padding-right: 0rem;
    }
    #select-compensation-dropdown .Select-control.Select-control {
        border-left-style: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 0;
        flex: 0 0 12rem;
    }
}

@media (min-width: 600px) {
    #hero-text{
        flex: 0 0 90%;
        font-size: 1.1rem;
    }
}

@media (min-width: 810px) {

    body {
        font-size: larger;
    }

    .hero-header-breaks{
        display: none;
    }

    #hero-header {
        padding-top: 2.2rem;
        font-size: 3.5rem;
    }

    #hero-text{
        flex: 0 0 50%;
        font-size: 1.2rem;
    }

    .hero-button {
        flex: 0 0 18rem;
        padding: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    #hero-buttons-div {
        padding-bottom: 9rem;
    }

    .rc-slider-mark {
        font-size: 1rem;
        writing-mode: horizontal-tb;
    }
    
    #name-add-button, #add-positions-label-container, #select-positions-label-container, #year-range-label-container {
        flex: 0 0 content;
        border-top-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .25rem;
        border-bottom-style: solid;
    }

    #year-range-slider-container {
        border-left-style: none;
        border-bottom-left-radius: 0;
        flex: 1 1 80%;
        padding-left: .75rem;
        padding-right: .75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #name-added-dropdown, #rate-job-dropdown {
        flex: 1 0 50%;
    }

    #name-added-dropdown .Select-control.Select-control, #rate-job-dropdown .Select-control.Select-control {
        border-left-style: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 0;
    }
    
}

@media (min-width: 1025px) {
    .hero-header-breaks{
        display: none;
    }

    #hero-header {
        padding-top: 2.2rem;
        font-size: 4rem;
    }

    #hero-text{
        flex: 0 0 50%;
        font-size: 1.3rem;
    }

    .hero-button {
        flex: 0 0 18rem;
        padding: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}